@charset "utf-8";
/* CSS Document */
gd{
	text-align: center;
}
.font1{
	font-weight: 10000;
	background-image:-webkit-linear-gradient(bottom,#CD6839,#4D4D4D,black);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-size:40px;
}
