@charset "utf-8";
/* CSS Document */
body {
	background-color: black;
}
#a{/*固定在具体位置*/
	width: 1600px;
	height: 20px;
	background-color: "";
	position: fixed;
	bottom: 10px;
	left: 1600px;
}
#qp{
	width:1480;
}
#bigbox{
	position: fixed;
	left:30px;
	bottom:50px;
}
.font2
{
	animation:bian 5s infinite;
	-webkit-animation:bian 0.3s infinite; /*Safari and Chrome*/
	animation-direction:alternate;/* 反向执行动画 */
	font-weight: 600;
	background-image:-webkit-linear-gradient(bottom,red,#fd8403,yellow);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
@keyframes bian
{
	from {font-size:20px;}
	to {font-size:21px;}/*大小变换 */
}